/* Table header styling */
th {
    background-color: #f4f4f4;
    text-align: center;
}

/* Table cell styling */
td {
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

/* Even rows styling */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Odd rows styling */
tr:nth-child(odd) {
    background-color: #ffffff;
}
